<!-- Modal -->
<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-2 text-center">Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal"
                    (click)="onCancel()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="onConfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>