.content
{
    max-height: 100% !important;
    height: 100% !important;
}

.content > :not(div:first-child)
{
    margin: auto;
}

.content .message .text .img
{
    max-width: 300px;
}

.content .message .text img
{
    max-width: 100%;
}
