.links {
    cursor: pointer;
}

button[type='submit']
{
    border: 1px solid;
}

.invalid_message
{
    margin: 0.50rem !important;
    font-size: .875em !important;
    color: #dc3545;
}

.spinner-border
{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 18px;
    right: 10px;
}